@model TSENA.Models.Shop

@* @{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopCreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopCreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopLogoNetworkPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopLogoNetworkPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@

























<p>You are at @Html.DisplayFor(model => model.ShopName)</p>

<div>

    <hr />
    
</div>

